.book-card-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    flex-direction: row;
    gap: 1vw;
    background-color: black;
    height: fit-content;

}

.flex-container {
    display: flex;
    width:100vw;
    height:100vh;
    justify-content: center;
    overflow-x:hidden;
    overflow-y:scroll;
}